@import './colors';

.btn{
    border: none;
    background: none;
    color: white;
    font-size: 1.2rem;
    padding-bottom: 0.3rem;
    cursor: pointer;

    &--profil{
        margin: 1rem;

        &:hover{
            color: $color-three;
        }
    }

    &--login{
        padding: 0.5rem;
        font-weight: 500;
        color: $color-five;
        border:1px solid white;

        &:hover{
            color: $color-three;
            background: white;
        }
    }
}

.active{
    border-bottom: 3px solid $color-three;
    &:hover{
        color: white;
    }

}


// INPUT

.input{
    background: white;
    padding: 0.5rem;
    border-radius: 3px;
    border: none;
}