@import './components/colors';

.card{

    background: $color-four;
    border-radius: 5px;
    padding: 0.3rem;
    margin-bottom: 1rem;
    display: flex;

    &__image{
        background: url('https://picsum.photos/200/200');
        height: 200px;
        width: 200px;
        margin-right: 1rem;
    }

    &--feed{
        margin-bottom: 1.5rem;
    }
}



