@import './components/colors';

.feed, .feed > * {
    display: flex;
}

.feed{
    > :first-child {
        padding-right:2rem;
        padding-left: 1rem;
    }

    &__event{
        flex-direction: column;
        flex-grow: 3;
        margin-top: 4.2rem;
    }

    &__discover{
        margin-top: 3rem;
        flex-direction: column;

        h2 {
            border-bottom: 8px $color-three solid;
        }
    }
}

