@import './components/colors';

.feed{
    display: flex;
    width: 100%;
    > :first-child {
        padding-right:2rem;
        padding-left: 1rem;
    }

    &__event{
        display: flex;
        flex-direction: column;
        flex-grow: 3;
        margin-top: 4.2rem;
    }

    &__discover{
        display: flex;
        flex-direction: column;
    }
}

