@import './components/colors';
@import './components/mixin';

.feed, .feed > * {
    display: flex;
}

.feed{
    margin-top: 6rem;

    > :first-child {
        padding-right:2rem;
        padding-left: 1rem;
    }

    &__event{
        flex-direction: column;
        flex-grow: 3;
    }

    &__discover{
        flex-direction: column;
        margin-top: -2rem;
        
        h2 {
            color: white;
            @include border-bottom;
        }

        p {
            color: $color-five;
        }
    }
}

