@import './components/colors';

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-one;
    padding: 0.5rem;
    color: white;
}

.search{
    position: relative;
    display: flex;

    > * {
        padding: 0 6px;
    }

    &__results{
        position: absolute;
        background: rgb(255, 255, 255);
        color: black;
        width: 11.5rem;
        border-radius: 5px;
        top: 8;
        
         li {
            padding: 0.5rem 0;
        }
    }

    .icon{
        cursor: pointer;
    }
}

