@import './components/colors';

nav, .menu__search, .menu__right{
    display: flex;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    background-color: $color-one;
    padding: 0.5rem;
    color: white;

    .logo{
        width: 2.2rem;
    }

    .icon{
        padding: 0 0.6rem;
        cursor: pointer;
    }
}

.menu {
    &__search{
        position: relative;
    }
    
    &__results{
        position: absolute;
        background: rgb(255, 255, 255);
        color: black;
        width: 11.5rem;
        border-radius: 5px;
        top: 8;
        
        li {
            padding: 0.5rem 0;
        }
    }

    &__right{
        margin-right: 2rem;
        > * {
            align-self: center;
        }

        .icon {
            width: 2rem;
        }
    }
}