.profilePage{
    padding-top: 3rem;
    
    &__banner {

        header{
            background: url('https://picsum.photos/1400/300');
            height: 12rem;
            justify-content: center;
            margin: auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            color: white;
        }
        
        .profile{
            transform: translateX(2rem);
            &__txt{
                font-weight: 600;
                display: flex;

                flex-direction: column;
            }
        }
    }
}


.user{

    &__profile{
        transform-origin: left;
    }

    &__social, &__github, &__github li{
        display: flex;
    }

    &__social{
        display: flex;
        margin: 0.2rem;
        padding: 0;

        > *{
            padding: 0 0.5rem ;
        }
    }

    &__github li{
        flex-direction: column;
        padding: 0 2rem;
        text-align: center;

        span{
            font-size: 1.3rem;
            font-weight: 600;
        }
    }
}


.wall{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__tab{
        display: inline-block;
        width: 80%;
        text-align: center;
    }

    &__events{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 60%;
    }

    &__suggestions{
        display: flex;
        flex-direction: column;
    }
}