.profilePage{

    header{
        background: red;
        height: 12rem;
        justify-content: center;
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column;

        .profile{
            transform: translateX(2rem);
            &__txt{
                display: flex;
                flex-direction: column;
            }
        }
    }
}


.user{

    &__profile{
        transform-origin: left;
    }

    &__social, &__github, &__github li{
        display: flex;
    }

    &__social{
        display: flex;
        margin: 0.2rem;
        padding: 0;

        > *{
            padding: 0 0.5rem ;
        }
    }

    &__github li{
        flex-direction: column;
        padding: 0 0.5rem;
        text-align: center;

        span{
            font-size: 1.3rem;
        }
    }
}