.avatar{
    border-radius: 50%;
}

.small{
    width: 2rem;
}

.medium{
    width: 3rem;
}

.profile{
    display: flex;
    align-items: center;

    :first-child{
        margin-right: 0.2rem;
    }
}