@import './components/colors';

.repo {
    &__card{
        background: white;
        padding: 0.5rem;
        width: 90%;
        margin: auto;
        margin-bottom: 0.8rem;
        border-radius: 3px;
        box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.404);

        h2{
            font-size: 1.3rem;
            color: $color-three;
            padding-bottom: 0.3rem;

            &:hover{
                color: $color-five;
            }
        }

        em {
            font-size: 0.9rem;
        }

    }
}